.navbar {
  border-bottom: 1px #ddd solid;
}

.carousel-item {
  background-color: rgba(0, 0, 0, 0.55);
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}

.carousel-caption {
  bottom: 450px;
}

.carousel-caption h1 {
  font-size: 40px;
  letter-spacing: 1px;
  margin-top: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
   
}

.carousel-item {
  height: 100vh;
  min-height: 100px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  bottom: 220px;
  width: 900px;
}

.carousel-caption h5 {
  font-size: 90px;
  margin-top: 25px;
  text-align: center;

  font-family: "Open Sans", sans-serif;
  font-weight: 2000;

}
/* @keyframes textanimation {
  0% {
    letter-spacing: 2px;
  }
  100% {
    letter-spacing: 2px;
  }
} */
.carousel-caption p {
  font-size: 80px;
  margin-top: 25px;
  text-align: center;

  
}
/* @keyframes textanimation2 {
  0% {
    letter-spacing: 1.5px;
  }
  100% {
    letter-spacing: 1px;
  }
} */

.navbar-nav a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: lighter;
}
.layer {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
  padding-bottom: 15px;
   animation-delay: 1s;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  fixed: top;
}

.navbar-light .navbar-nav .active.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show.nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-toggler {
  background: #fff;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: 2rem 1rem;
}

.carousel-inner .nav-link.active,
.nav-link:focus {
  color: #fff !important;
}

.header.carousel-inner .item {
  height: 100vh;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
   animation-delay: 1s;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.google-map {
  width: 100%;
  height: 100%;
}

.pricing-table {
  background-color: white;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: min(1600px, 100%);
}

.pricing-card {
  flex: 1;
  max-width: 360px;
  background: #fff;
  margin: 20px 10px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: #2d2d2d;
  transition: 0.3s linear;
  border: 2px solid #fff;
}

.pricing-card-header {
  background-color: #0fbcf9;
  display: inline-block;
  color: #fff;
  padding: 12px 30px;
  border-radius: 0 0 20px 20px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.4s linear;
}

.price-card:hover .pricing-card-header {
  box-shadow: 0 0 0 26em #0fbcf9;
}

.price {
  font-size: 50px;
  color: black;
  margin: 40px 0;
  transition: 0.2s linear;
}

.order-btn {
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 80px;
  border: 2px solid #0fbcf9;
  color: #0fbcf9;
  padding: 18px 40px;
  border-radius: 8px;
  transition: 0.3s linear;
}

.order-btn:hover {
  background-color: #0fbcf9;
  color: #fff;
}

@media screen and (max-width: 1100px) {
  .pricing-card {
    flex: 50%;
  }
}

.text {
  padding: 20px;
}

.edit {
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
}

.edit p {
  color: gray;
}

.edit h2 {
  font-size: 20px;
}

.edit {
  text-align: center;
}

.team {
  margin-top: 70px;
  text-align: center;
}

.team h3 {
  font-size: 50px;
}

.team p {
  font-size: 20px;
}

.item2 {
  position: relative;
  overflow: hidden;
}

.item2:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 220%;
  background: rgba(0, 53, 131, 0.7);
  top: -50%;
  left: -100%;
  z-index: 1;
  transform-origin: center top 0;
  transition: 0.5s;
}

.item2:hover:before {
  left: 5%;
}

.item2 img {
  width: 100%;
}

.info {
  width: 100%;
  padding: 0 20px;
  position: absolute;
  top: -100%;
  color: #fff;
  left: 0;
  z-index: 2;
  transition: 1.1s;
}

.info h4 {
  font-family: poppins;
  padding-left: 5px;
}

.info p {
  padding: 5px;
}

.item2:hover .info {
  top: 15px;
}

.section2 {
  text-align: center;
  margin-top: 80px;
}

.section2 h5 {
  font-size: 40px;
}

.section2 p {
  font-size: 15px;
}

.info2 {
  background-color: white;
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}

span::before {
  content: "a";
  animation: animate infinite 5s;

  color: #0fbcf9;
}
@keyframes animate {
  3% {
    content: " a| ";
  }
  6% {
    content: " ap| ";
  }
  9% {
    content: "app| ";
  }
  12% {
    content: " apps|";
  }
  25% {
    content: "w|";
  }
  28% {
    content: "we|";
  }
  32% {
    content: "web|";
  }
  35% {
    content: "webs|";
  }
  38% {
    content: "websi|";
  }
  41% {
    content: "websit|";
  }
  44% {
    content: "website|";
  }
  57% {
    content: "s|";
  }
  60% {
    content: "so|";
  }
  63% {
    content: "sof|";
  }
  66% {
    content: "soft|";
  }
  69% {
    content: "softw|";
  }
  72% {
    content: "softwa|";
  }
  75% {
    content: "softwar|";
  }
  78% {
    content: "sofware|";
  }
  81% {
    content: "softwares|";
  }
}
